secretfile.js

# This is git ignore means this does not add our files to the public acess.
# https://mrkandreev.name/snippets/gitignore-generator/ **This website is helpfull for the git ignore work.gti branch

